<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News - error occurred</title>

    <link href="../static/custom.css"
          th:href="@{/../custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="../static/images/NewsAPI.png"
                 th:src="@{/../images/NewsAPI.png}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>
                <div class="error-occurred-1 col-md-8 offset-md-3">
                    The error occurred!
                </div>

                <div class="error-occurred-2 col-md-8 offset-md-3">
                    <a href="/">Return to the starting page</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>