<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>

    <link href="../static/custom.css"
        th:href="@{/../custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to...</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="../static/images/NewsAPI.png"
                     th:src="@{/../images/NewsAPI.png}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-8">
                <div class="click-me">
                    <a href="download.html"
                        th:href="@{/data}">Click to download the important news!</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


